*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('pic1.jpg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     height: 100vh;
     box-sizing: border-box;
     font-family: sans-serif;
}
.header
{
font-size: 30px;
font-family: sans-serif;
color: rgb(224, 13, 24);
text-align: center;
margin-top: 10px;
}
.header img
{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
hr{
    border:none;
    margin-top: 20px;
    margin-bottom:5px; 
   height: 4px;
   width: 500px;
   background-color: indianred;
   margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 10px 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    max-width: 100%;
    
}
.nav ul{
    list-style: none;
    overflow: hidden;
 
 }
 .nav ul li{
    display: inline-block;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 200px;
    
    
 }
 .nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-style: italic;
    border-bottom: 2px solid transparent;
    float: right;
    padding: 10px 20px;
    
 }
 .nav ul li a:hover{
   border-bottom: 2px solid whitesmoke;
   background-color: indianred;
   padding: 20px;
}
 .main {
  margin: 10px 20px;
  padding: 10px 20px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
 }
 .main h2{
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(190, 185, 185);
    font-size: 30px;
    font-family: sans-serif;
 }
 /* .box
 {
    display: inline-block;
    justify-content:space-between;
     align-items: center;
    padding: 20px;
    margin: 20px;   
 }*/
 
 .box .img1
 {
height: 300px;
width: 200px;
box-sizing: border-box;
border-radius: 100px;
background-color: aliceblue;
background-image: url('food1.jpg');
 background-position: center;
 }
 .box .img2
 {
height: 300px;
width: 200px;
box-sizing: border-box;
border-radius: 100px;
background-color: aliceblue;
background-image: url('food2.jpg');
background-position: center;

 }
 .box .img3
 {
    height: 300px;
width: 200px;
box-sizing: border-box;
border-radius: 100px;
background-color: aliceblue;
background-image: url('food3.jpg');
background-position: center;
 }
 /* .box .img1 input
 {
    align-items: center;
    padding: 20px;
    margin: 20px;
 } */
 footer{
    margin-top: 20px;
    color: antiquewhite;
 }
